<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/Cpts/css/registro.css">
    <link rel="shortcut icon" href="/Cpts/imagen/logo-blanco.png" type="image/x-icon">
    <title>ShadowSell Registro</title>
</head>
<body>
    <section class="form-main">
        <div class="form-content">
            <div class="circle-1"></div>
            <div class="circle-2"></div>
            <div class="circle-3"></div>
            <div class="box">
                <h3 class="tituloh3"><a href="/"><div class="logo-registro"></div></a>Crear una cuenta</h3>
                <form action="">
                    <div class="input-box ">
                        <input type="text" placeholder="Nombre Completo" class="input-control" id="name" required>
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Email" class="input-control" id="email" required>
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="Password" class="input-control" id="password" required>
                       
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="Confirmar Password" class="input-control" id="match"  required>
                       
                    </div>
                    <button type="submit" class="btn" id="btn-registro" >Crear Cuenta</button>
                </form>
                <p>Ya tienes una cuenta? <a href="/login/login.html" class="grandient-text">Iniciar Sesión</a></p>
            </div>
        </div>
    </section>
    <div class="alerta" id="alerta">
    </div>
</body>
    <script src="/Cpts/js/registro.js"></script>
</html>