<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/Cpts/css/registro.css">
    <link rel="shortcut icon" href="/Cpts/imagen/logo-blanco.png" type="image/x-icon">
    <title>ShadowSell Iniciar</title>
</head>
<body>
    
    <section class="form-main">
        <div class="form-content">
            <div class="circle-1"></div>
            <div class="circle-2"></div>
            <div class="circle-3"></div>
            <div class="box">
                <h3 class="tituloh3"><a href="/"><div class="logo-registro"></div></a>ShadowSell</h3>
                <form action="">
                    <div class="input-box">
                        <input type="text" placeholder="Email" id="email" class="input-control" required>
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="Password" id="password" class="input-control"  require>
                        <div class="input-link">
                            <a href="/login/recuperar.html" class="grandient-text">Has olvidado tu contraseña</a>
                        </div>
                    </div>
                    <button onclick=""  type="submit" id="btn_init" class="btn">Iniciar Sesión</button>
                </form>
                <p>No tienes una cuenta? <a href="/register/registrarse.html" class="grandient-text">Crear cuenta</a></p>
            </div>
        </div>
        <a href=""></a>
        <div class="alerta" id="alerta">
            
        </div>
    </section>
    <script src="/Cpts/js/login.js"></script>
</body>
</html>