<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/Cpts/css/registro.css">
    <link rel="shortcut icon" href="/Cpts/imagen/logo-blanco.png" type="image/x-icon">
    <title>contraseña Olvidada</title>
</head>
<body>
    <section class="form-main">
        <div class="form-content">
            <div class="circle-1"></div>
            <div class="circle-2"></div>
            <div class="circle-3"></div>
            <div class="box">
                <h3 class="tituloh3"><a href="/"><div class="logo-registro"></div></a>ShadowSell</h3>
                <form action="">
                    
                    <div class="input-box">
                        <input type="password" placeholder="contraseña nueva" class="input-control" id="password">
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="confirmar contraseña" class="input-control" id="passwordC">
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="Token" class="input-control" id="token">
                    </div>
                    
                    
                    <button type="submit" class="btn" id="confirmar">Confirmar</button>
                </form>
                <p>No tienes una cuenta? <a href="/register/registrarse.html" class="grandient-text">Crear Cuenta</a></p>
            </div>
           
        </div>
        
    </section>
    <div class="alerta" id="alerta"></div>
</body>
<script src="/Cpts/js/recuperarT.js"></script>
</html>