@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Poppins', sans-serif; */
*{
    scroll-behavior: smooth;
}
:root{
    --padding-container: 100px 0;
    
    --color-title:#002a77e3;
    --background-hero:url('/Cpts/imagen/fondo-negro.jpg');
    --background-body: rgba(255, 255, 255, 0.055);


    /* tema Oscuro */
    
    /* --color-title:#ffffffe3;
    --background-hero:url('/Cpts/imagen/fondo-negro.jpg');
    --background-body: rgba(0, 0, 0, 0.5); */

}
.about_icon{
    background: white;
    border-radius: 2px;
    box-shadow: 0px 0px 3px 5px rgba(255, 255, 255, 0.438);
}
body{
    font-family: 'Poppins', sans-serif;
    /* cursor: url(/Cpts/imagen/cursor-defauld.png),auto ; */
    background-color: var(--background-body);
   
}
body::-webkit-scrollbar {
    width: 10px;
    
  }
  body::-webkit-scrollbar-thumb{
    background: linear-gradient(to right,hsl(0, 0%, 100%),hsla(0, 0%, 0%, 0.801));
    border-radius: 3px;  
}
body::-webkit-scrollbar-track-piece{
    background: linear-gradient(to right,hsl(0, 0%, 0%),hsla(0, 0%, 100%, 0.801));
    border: solid 1px black;
    border-top: none;
    border-bottom: none;
}
main{
    scroll-behavior: smooth;
}

.container{ 
    width: 90%;
    max-width: 1200px;
    margin:0 auto;
    overflow:hidden;
    padding: var(--padding-container);
    scroll-behavior: smooth;
}
a{
    /* cursor: url(/Cpts/imagen/cursor-pointer.png),auto ; */
    transition: cursor 0.3s ease;
}

.hero{
   width: 100%;
   height: 100vh;
   min-height: 600px;
   max-height: 800px;
   color: white;
   position: relative;
   display: grid;
   grid-template-rows: 100px 1fr;
}
.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-image: linear-gradient(180deg, #000000a9 0%, #fffbfb2f 100%), var(--background-hero);
    background-size: cover;
    background-position:0px;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}
.logo-registro{
    background-image: url(/Cpts/imagen/logo-blanco.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    z-index: -4;
}
/* NAV */



.nav{
    --padding-container:0;
    height: 100px;
    display:  flex;
    align-items: center;
}

.nav_title{
    font-weight: 300;

}
.nav_link{
    margin-left:auto;
    padding: 0;
    display:grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}
.nav_items{
    list-style: none;
}

.nav_links{
    color: white;
    text-decoration: none;
}
.nav_menu{
    margin-left: auto;
    /* cursor: url(/Cpts/imagen/cursor-pointer.png),auto ; */
    display: none;
}
.nav_img{
    display: block;
    width: 30px;
}

.nav_close{
    display: var(--show,none);
    /* cursor: url(/Cpts/imagen/cursor-pointer.png),auto ; */
}


/* Hero container */

.hero_container{
    max-width: 800px;
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero_title{
    font-size: 3rem;

}
.hero_paragraph{
    margin-bottom: 20px;

}
.cta{
    display: inline-block;
    background-color: #0000008a;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 22px;
    border-radius:3px ;
    border: solid 1px rgb(255, 255, 255);
}
.cta:hover{
    color: rgba(255, 255, 255, 0.856);
    box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.103);
    
}

/* About */

.about{
    text-align: center;
}

.subtitle{
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about_paragraph{
    line-height: 1.7;
}
.about_main{
    padding-top: 80px;
    display:grid;
    width: 90%;
    margin:0 auto;
    overflow: hidden;
    gap: 1em;
    grid-template-columns: repeat(auto-fit,minmax(260px, auto));
}

.about_incons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
    
}

.about_icon{
    
    width: 40px;
}

/* Knowledgr */

.knowledge{
    background-color: #ffffff7c;
    background-image:  radial-gradient(#ffffff 0.75px, transparent 0.75px), radial-gradient(#ffffff 0.75px, #e5e5f7 0.75px);
    background-size: 30px 30px;
    background-position: 0 0,15px 15px;
    overflow: hidden;
}

.knowledge_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.knowledge_pinture{
    max-width:500px;

}
.knowledge_paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}
.knowledge_img{
    width: 100%;
    display:block ;
}

/* Price */

.price{
    text-align: center;
}
.price_table{
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}

.price_element{
    background:url(/Cpts/imagen/plata.png);
    text-align: center;
    border-radius: 20px;
    width: 330px;
    padding: 40px;
    --color-plan:#696871;
    --color-price:#1D293F;
    --bg-cta:#5454D4;
    --color-items:#696871
    transition: all 100ms;
}
.price_element:hover{
    transform: translateY(-12px);
    
}
.price_element--best{
    width: 370px;
    padding: 60px 40px;
    background:url(/Cpts/imagen/golden.jpg);
    --color-plan:rgba(255, 255, 255, 0.733);
    --color-price:#fff;
    --bg-cta:#fff;
    --color-items:#fff
}
.price_element--best .price_cta{
    border: solid 2px white;
}

.prace_name{
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}
.plan_price{
    font-size: 2.5rem;
    color: var(--color-price);
}
.price_items{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);

}

.price_cta{
    display: block;
    padding: 20px 0;
    background-color: #0000008a;
    color: #fff;
    text-decoration: none;
    border-radius:3px ;
    border: solid 1px rgb(0, 0, 0);
    font-weight: 600;
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}



/* testimony */

.testimony{
    background-color: #d9d2ff;
}
.testimony_container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}
.testimony_body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}
.testimony_body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}
.testimony_img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.testimony_texts{
    max-width: 700px;
}
.testimony_course{
    background-color: rgba(0, 0, 0, 0.425);
    color: white;
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
}
.testimony_arrow{
    width: 90%;
    /* cursor: url(/Cpts/imagen/cursor-pointer.png),auto ; */
}

/* Question */

.questions{
    text-align: center;
}

.question_container{
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;

}
.question_padding{
    padding: 0;
    transition: padding .3s;
    border: 1px solid #5454D4;
    border-radius: 6px;
}

.question_padding--add{
    padding-bottom: 30px;
}

.question_answer{
    padding: 0 30px 0;
    overflow: hidden;
}
.question_title{
    display: flex;
    padding: 30px 0 30px;
    font-size: 20px;
    /* cursor: url(/Cpts/imagen/cursor-pointer.png),auto ; */
    color: var(--color-title);
    justify-content: space-between;
}
.question_arrow{
    border-radius: 50%;
    background-color: var(--color-title);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition: transform .3s;
}
.question_arrow--rotate{
    transform: rotate(180deg);
}

.question_show{
    text-align: left;
    height: 0;
    transition: height .3s;
}

.question_img{
    display: block;
}

.question_copy{
    margin: 0 auto;
    width: 60%;
    margin-bottom: 30px;
}
.question_offer{
    text-align: center;
    margin-bottom: 30px;
}
.question_offer .cta{
    border: 1px solid rgba(0, 0, 0, 0.555);
}

/* footer */

.footer{
    background-color: #585858;
}
.footer_title{
    font-weight:300 ;
    font-size: 2rem;
    margin-bottom: 30px;
}
.footer_title, .footer_newsletter{
    color: #ffffff;
}
.footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 60px;
}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav_link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}


.footer_inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}
.footer_input{
    background-color: white;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 3px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;

}

.footer_submit{
    background-color: #00000044;
    color: #fff;
    padding: 13px 22px;
    border-radius:3px ;
    border: solid 1px rgb(255, 255, 255);
    /* cursor: url(/Cpts/imagen/cursor-pointer.png),auto ; */
}

.footer_copy{
    --padding-container:30px 0;
    text-align: center;
    color: #fff;
}
.footer_copyright{
    font-weight: 300px;
}
.footer_icons{
    margin-bottom: 10px;
}
.footer_img{
    width: 30px;
}


/* Media queries */


@media (max-width:800px){
    .nav_menu{
        display: block;
    }
    .nav_link--menu{
        position: fixed;
        background-color: #000000cb;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }
    .nav_link--show{
        --show:block;
        opacity: 1;
        pointer-events: unset;
    }
    .nav_close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
    }
    .hero_title{
        font-size: 2.5rem;
    }

    .about_main{
        gap: 2em;
    }
    .about_icons:last-of-type{
        grid-column:1/-1;
    }
    .knowledge_container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
        margin: 0;
    }

    .knowledge_pinture{
        grid-row: 1/2;
        justify-self: center;
    }
    .testimony_container{
        grid-template-columns: 30px 1fr 30px;
    }

    .testimony_body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items: center; 
    }
    .testimony_img{
        width: 200px;
        height: 200px;

    }
    .question_copy{
        width: 100%;
    }

    .footer_container{
        flex-wrap: wrap;
    }
    .nav--footer{
        width: 100%;
        justify-items: center;
    }

    .nav_link--footer{
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
        
    }
    .footer_form{
        width: 100%;
        justify-content: space-evenly;
    }

    .footer_inputs{
        flex: 1;
    }
}

@media(max-width:600px){
    .hero_title{
        font-size:2rem ;
    }
    .hero_paragraph{
        font-size: 1rem;
    }
    .subtitle{
        font-size: 1.8rem;
    }
    .price_element{
        width: 90%;
    }
    .price_element--best{
        width: 90%;
        /* padding: 40px; */
    }
    .testimony_container{
        grid-template-columns: 28px 1fr 28px;
        gap: .9em;
    }
    .price_price{
        font-size: 2rem;
    }
    .testimony{
        --padding-container: 60px 0
    }
    .testimony_arrow{
        width: 100%;
    }
    .testimony_course{
        margin-top: 15px;

    }
    .question_title{
        font-size: 1rem;
    }

    .footer_title{
        justify-self:start;
    }
    .footer_inputs{
        flex-wrap: wrap;
    }
    .footer_input{
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }
    .footer_submit{
        margin-right: auto;
        margin-left: 0;
        
    }
    
}
.bg{
    animation:slide 12s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgba(0, 0, 0, 0.205) 50%, rgb(255, 255, 255) 50%);
    bottom:0;

    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-5;
}
.bga{
    animation:slide 12s ease-in-out infinite alternate;
    background-image: linear-gradient(60deg, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0.226) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-4;
}
.bga2{
    animation-direction:alternate;
    animation-duration:4s;
  }
  
  .bga3 {
    animation-duration:5s;
  }


  
  .bg2{
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  /* .content{
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    
    position:absolute;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  } */
  
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    10% {
      transform:translateX(25%);
    }
  }